.inner-form {
  background-color: rgba(166, 217, 235, 0.286);
}

h1 {
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 10px;
  font-size: xx-large;
}
.navbar {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.7em;
  border-bottom: 0.3vh solid #c62128;
}

.nav-des-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.nav-img-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-des-sub {
  color: #817f7f;
  font-weight: 600;
  letter-spacing: -0.05vw;
}

.nav-des {
  color: #c62128;
  font-weight: 700;
  font-size: 3vw;
  letter-spacing: -0.2vw;
}                                                                      

.nav-logo {
  max-width: 25vw;
}

.nav-container {
  margin: 1em 5em;
}

.nav-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4em;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-top: 1em;        
  border-right: 1px solid black;    
  width: 20%;             
  float: left; 
  height: 330px; 
  margin-left: 5em; 


}

.nav-op {
  padding: 0.4em 0.9em;
  border: 0.1em solid #c62128;
  border-radius: 0.5em;
  margin: 0.4em 0.4em;
  width: 90%;
  font-weight: 500;
  color: #636363;
  letter-spacing: -0.02em;
  transition: 0.6s;
}

.nav-op:hover {
  cursor: pointer;
  transition: 0.6s;
  color: #ffffff;
  background-color: #c62128;
}

.nav-op:first-of-type {
  margin-left: 0;
}

.nav-options1 {
  
  margin-top: 2em;
  margin-bottom: 5em;
  border: none;
  width: 600px;
  height: 1em;
  margin-left: 30em;
  height: 30px;

}

.nav-op1 {
  padding: 0.4em 1.1em;
  border: 0.1em solid #c62128;
  border-radius: 0.5em;
  margin-top: 0.2em;
  font-weight: 600;
  color: #636363;
  letter-spacing: -0.03em;
  transition: 0.6s;
  text-align: center;
  display: flex;
  flex-direction: row;
  float: left;
  width: 30%;
}




.nav-op1:hover,.nav-op4:hover {
  cursor: pointer;
  transition: 0.6s;
  color: #ffffff;
  background-color: #c62128;
}

.nav-op1:first-of-type {
  margin-left: 50px;
}



.nav-op2 {
  padding: 0.4em 0em;
  border: 0.1em solid #c62128;
  border-radius: 0.5em;
  margin-top: 0.2em;
  font-weight: 600;
  color: #636363;
  letter-spacing: -0.03em;
  transition: 0.6s;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  width: 28%;
  margin-left: 30px;
  
}


.nav-op2:hover,.nav-op3:hover {
  cursor: pointer;
  transition: 0.6s;
  color: #ffffff;
  background-color: #c62128;
}

.nav-op2:first-of-type {
  margin-left: 0;
}

.selected-option {
  color: #ffffff !important;
  background-color: #c62128 !important;
}

#disabled-option {
  opacity: 20%;
  pointer-events: none;
}

a {
  text-decoration: none;
}

.nav-options div {
  display: flex;
}

.nav-op3 {
  padding: 0.4em 0em;
  border: 0.1em solid #c62128;
  border-radius: 0.5em;
  margin-top: 0.2em;
  font-weight: 600;
  color: #636363;
  letter-spacing: -0.03em;
  transition: 0.6s;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  width: 28%;
  margin-left: 40%;
}

